# Extensions
*.txt
*.sql

*.env
# Fichier d'environnement de test
!*_test.env

# Fichier script sql de test
!*_test.sql

# Dossier des logs
logs/

# Dossier des fichiers temporaires
tmp/

# Dossier des dépendances
vendor/
composer.lock
composer.phar

# Cache local de PHPunit
.phpunit.result.cache

# Alias bash
.profile