#####################################################
# N'affiche pas la liste des fichiers d'un répértoire
#####################################################
Options -Indexes

RewriteEngine On
RewriteCond %{REQUEST_URI} !\.(ico|css|js|svg|png|jpg|jpeg)$ [NC]
RewriteRule (^.*$) root.php [L,QSA]