#####################################################
# N'affiche pas la liste des fichiers d'un répértoire
#####################################################
Options -Indexes


############################################
# Redirect toutes les URL php vers www/root.php
############################################
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /
	RewriteCond %{REQUEST_URI} \.php$ [NC]
	RewriteRule (^.*$) root.php?url=$1 [L,QSA]
</IfModule>