name: PHPUnit

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - master

jobs:
  build-test:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.3
        env:
          MYSQL_ROOT_PASSWORD: password
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        
      - name: Simple echo
        run: echo "The ${{ github.repository }} repository has been cloned"

      - name: Create Database
        run: |
          mysql -hlocalhost -P3306 -uroot -ppassword -e"CREATE DATABASE IF NOT EXISTS test;"

      - name: Load Database Schema
        run: |
          mysql -hlocalhost -P3306 -uroot -ppassword test < _test.sql

      - name: Simple echo
        run: echo "Database has been created and schema has been loaded"

      - name: Run phpunit.phar
        run: bash tools/phpunit.sh